@model ReservationViewModel;
@{
	List<int> day = Model.Days;
	List<string> month = Model.Month;
	List<int> year = Model.Year;
}


@for (var j = 0; j < 3; j++)
{
	<table class="calendar-table" id="firstTable">
			<thead>
				<tr>
					<th rowspan="2" class="room-header">Rooms</th>
					<th rowspan="2" class="">@month[j]<br />@year[j]</th>
				</tr>
				<tr class="date-row">

					@for (var i = 1; i <= day[j]; i++)
					{
						<td>@i</td>
					}

				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="room-name">Single Room </td>
					<td><i class="fa-solid fa-person"></i> 1</td>
					@for (var i = 1; i <= day[j]; i++)
					{
						if (true)
						{
							<td style="background-color:lightgreen; color:white;">₺</td>
						}
						else
						{
							<td class="bg-danger">N</td>
						}
					}
				</tr>
				<tr>
					<td class="room-name">Single Plus Room</td>
					<td><i class="fa-solid fa-person"></i> 3</td>
					@for (var i = 1; i <= day[j]; i++)
					{
						if (true)
						{
							<td style="background-color:lightgreen; color:white;">₺</td>
						}
						else
						{
							<td class="bg-danger">N</td>
						}
					}
				</tr>
				<tr>
					<td class="room-name">Couple Room </td>
					<td><i class="fa-solid fa-person"></i> 2</td>
					@for (var i = 1; i <= day[j]; i++)
					{
						if (true)
						{
							<td style="background-color:lightgreen; color:white;">₺</td>
						}
						else
						{
							<td class="bg-danger">N</td>
						}
					}
				</tr>
				<tr>
					<td class="room-name">Family Room</td>
					<td><i class="fa-solid fa-person"></i> 3</td>
					@for (var i = 1; i <= day[j]; i++)
					{

						if (true)
						{
							<td style="background-color:lightgreen; color:white;">₺</td>
						}
						else
						{
							<td class="bg-danger">N</td>
						}

					}
				</tr>
				<tr>
					<td class="room-name">King Suit</td>
					<td><i class="fa-solid fa-person"></i> 2</td>
					@for (var i = 1; i <= day[j]; i++)
					{

						if (true)
						{
							<td style="background-color:lightgreen; color:white;">₺</td>
						}
						else
						{
							<td class="bg-danger">N</td>
						}
					}
				</tr>
			</tbody>
	</table>
}





