@model ReservationViewModel;

<script src="https://kit.fontawesome.com/75900aeb22.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link href="~/css/Reservation.css" rel="stylesheet" />


<style>
	.button-group{
		display: flex;
		justify-content: flex-end;
		margin-top:10px;
	}

	#btnFirstHalf:hover{
		cursor:pointer;
		background-color:limegreen;
	}

	#btnSecondHalf:hover {
		cursor: pointer;
		background-color: limegreen;
	}

	.modal-lg {
		max-width: 90% !important; /* Modal genişliğini %90 yap */
		height: 90% !important; /* Yüksekliği de %90 yap */
	}

	.modal-content {
		height: 100%; /* İçeriğin yüksekliğini tam yap */
	}
</style>
<div class="container mt-4 ">
	<form asp-action="Search" asp-controller="Reservation" method="post">
	<div class="row" style="margin-bottom:20px;">
		<div class="col-md-8 col-sm-8 col-lg-8">
			<div class="card-body">
				<img src="~/images/receptionists-elegant-suits-work-hours.jpg" style="max-width:100%;max-height:100%;border-radius:10px;">
			</div>
		</div>
		<div class="col-md-4 col-sm-4 col-lg-4">
			<div class="card-body text-center">
				<!-- text-center sınıfını ekledim -->
				<div class="card-text textt">
					Welcome to <p>BlueWave Hotel!</p> <br>
					We’re delighted to have you here! Whether you’re visiting for business or leisure, our team is here to ensure you have a pleasant and comfortable experience.
					If there’s anything we can assist you with, please don’t hesitate to let us know. We hope you enjoy your time with us!
				</div>
			</div>
		</div>
	</div>
	<div class="row row2">
		<div class="col-md-6 col-sm-6 col-lg-6">
			<div class="reservationMenu">
				Reservation
			</div>
		</div>
		<div class="col-md-6 col-sm-6 col-lg-6">
			<div class="reservationMenu">
				Extras
			</div>
		</div>
	</div>

	<div class="row g-2 align-items-center">
		
			<!-- Giriş Tarihi -->
			<div class="col-md">
				<div class="rezinfoItem">
					<div class="rezLabel">
						<i class="fa-solid fa-calendar-days"></i>
					</div>

					<input type="date" asp-for="Search.FirstDay" class="form-control"  required>
				</div>
			</div>

			<!-- Çıkış Tarihi -->
			<div class="col-md">
				<div class="rezinfoItem">
					<div class="rezLabel">
						<i class="fa-solid fa-calendar-days"></i>
					</div>
					
					<input type="date" asp-for="Search.LastDay" class="form-control" required>
				</div>
			</div>
			<!-- Yetişkin -->
			<div class="col-md">
				<div class="rezinfoItem">
					<div class="rezLabel">
						<i class="fa-solid fa-person"></i>
					</div>
				
					<select class="form-select" asp-for="Search.Adult" required>
						<option selected>Adult</option>
						<option value="0">0</option>
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
						<option value="6">6</option>
						<option value="7">7</option>
					</select>
				</div>
			</div>

			<!-- Çocuk -->
			<div class="col-md">
				<div class="rezinfoItem">
					<div class="rezLabel">
						<i class="fa-solid fa-child"></i>
					</div>
				
					<select class="form-select" asp-for="Search.Child" required>
						<option selected>Child</option>
						<option value="0">0</option>
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
						<option value="6">6</option>
						<option value="7">7</option>
					</select>
				</div>
			</div>

			<!-- Rezervasyon Ara -->
			<div class="col-md">
				<button id="SearchButton" class="btn w-100" type="submit">
					<i class="fa-solid fa-magnifying-glass"></i> &nbsp; Search
				</button>
			</div>
		
	</div>
	</form>
</div>

<div class="container mt-4 calendar-container">
	<div class="header" id="Head" data-bs-toggle="modal" data-bs-target="#calendarModal">
	  Reservation Calendar &nbsp;<i class="fa-solid fa-arrow-down"></i>
	</div>
</div>
<div class="modal fade" id="calendarModal" tabindex="-1" aria-labelledby="calendarModalLabel" aria-hidden="true">
	<div class="modal-dialog" style="max-width: 80%; max-height: 70%;">
		<div class="modal-content" style="height: auto;">
			<div class="modal-header">
				<h5 class="modal-title" id="calendarModalLabel">Takvim</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body" style="max-height: 65vh; overflow-y: auto;">
				<!-- Calendar partial view'in burada render edilmesi -->
				<partial name="_Calendar" model="@Model" />
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
			</div>
		</div>
	</div>
</div>


<div id="OrderCard" class="container mt-4">
	<partial name="_OrderCard" model="@Model"/>
</div>

<script>

	$(document).ready(function () {
		$("#OrderCard").hide();
		$('#SearchButton').click(function (e) {
			e.preventDefault(); // Sayfa yenilenmesini engelle

			// Form verilerini topla
			var formData = {
				FirstDay: $('#Search_FirstDay').val(),
				LastDay: $('#Search_LastDay').val(),
				Adult: $('#Search_Adult').val(),
				Child: $('#Search_Child').val()
			};

			$.ajax({
				url: '/Reservation/Search', // Controller ve action metodu
				type: 'POST',
				data: formData, // Form verilerini gönder
				success: function (response) {
					// Başarı durumunda geri dönen veriyi göster
					console.log(response);
					// Örneğin, sonucu bir div'de göster
					$('#result').html(response);
				},
				error: function (xhr, status, error) {
					console.log('Hata oluştu: ' + error);
					// Hata mesajını göster
					$('#result').html('Bir hata oluştu.');
				}
			});
		});
	});

	$("#SearchButton").on("click", function () {
		$("#OrderCard").fadeIn("slow");
	});

</script>
