@model ReservationViewModel;
@{
	
}﻿

<script src="https://kit.fontawesome.com/75900aeb22.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
<link href="~/css/Reservation.css" rel="stylesheet" />

<style>
	.button-group{
		display: flex;
		justify-content: flex-end;
		margin-top:10px;
	}

	.button-group2 {
		display: flex;
		justify-content: flex-start;
	}


	#btnFirstHalf:hover{
		cursor:pointer;
		background-color:limegreen;
	}

	#btnSecondHalf:hover {
		cursor: pointer;
		background-color: limegreen;
	}
</style>
<div class="container mt-4 ">
	<div class="row" style="margin-bottom:20px;">
		<div class="col-md-8 col-sm-8 col-lg-8">
			<div class="card-body">
				<img src="~/images/receptionists-elegant-suits-work-hours.jpg" style="max-width:100%;max-height:100%;border-radius:10px;">
			</div>
		</div>
		<div class="col-md-4 col-sm-4 col-lg-4">
			<div class="card-body text-center">
				<!-- text-center sınıfını ekledim -->
				<div class="card-text textt">
					Welcome to <p>BlueWave Hotel!</p> <br>
					We’re delighted to have you here! Whether you’re visiting for business or leisure, our team is here to ensure you have a pleasant and comfortable experience.
					If there’s anything we can assist you with, please don’t hesitate to let us know. We hope you enjoy your time with us!
				</div>
			</div>
		</div>
	</div>
	<div class="row row2">
		<div class="col-md-6 col-sm-6 col-lg-6">
			<div class="reservationMenu">
				Reservation
			</div>
		</div>
		<div class="col-md-6 col-sm-6 col-lg-6">
			<div class="reservationMenu">
				Extras
			</div>
		</div>
	</div>
	<div class="row g-2 align-items-center">
		<!-- Giriş Tarihi -->
		<div class="col-md">
			<div class="rezinfoItem">
				<div class="rezLabel">
					<i class="fa-solid fa-calendar-days"></i>
				</div>
				<input type="date" class="form-control">
			</div>
		</div>

		<!-- Çıkış Tarihi -->
		<div class="col-md">
			<div class="rezinfoItem">
				<div class="rezLabel">
					<i class="fa-solid fa-calendar-days"></i>
				</div>
				<input type="date" class="form-control">
			</div>
		</div>

		<!-- Gece -->
		<div class="col-md">
			<div class="rezinfoItem">
				<div class="rezLabel">
					<i class="fa-solid fa-moon"></i>
				</div>
				<select class="form-select">
					<option selected>Night</option>
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
					<option value="6">6</option>
					<option value="7">7</option>
					<option value="8">8</option>
					<option value="9">9</option>
					<option value="10">10</option>
					<option value="11">11</option>
					<option value="12">12</option>
					<option value="13">13</option>
				</select>
			</div>
		</div>

		<!-- Yetişkin -->
		<div class="col-md">
			<div class="rezinfoItem">
				<div class="rezLabel">
					<i class="fa-solid fa-person"></i>
				</div>
				<select class="form-select">
					<option selected>Adult</option>
					<option value="0">0</option>
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
					<option value="6">6</option>
					<option value="7">7</option>
				</select>
			</div>
		</div>

		<!-- Çocuk -->
		<div class="col-md">
			<div class="rezinfoItem">
				<div class="rezLabel">
					<i class="fa-solid fa-child"></i>
				</div>
				<select class="form-select">
					<option selected>Child</option>
					<option value="0">0</option>
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
					<option value="6">6</option>
					<option value="7">7</option>
				</select>
			</div>
		</div>

		<!-- Rezervasyon Ara -->
		<div class="col-md">
			<button id="SearchButton" class="btn w-100">
				<i class="fa-solid fa-magnifying-glass"></i> &nbsp; Search
			</button>
		</div>
	</div>
</div>



<div class="container mt-4 calendar-container">
	<div class="header" id="Head">Reservation Calendar &nbsp;<i class="fa-solid fa-arrow-down"></i></div>
	<table class="calendar-table" id="firstTable">
		<thead>
			<tr>
				<th rowspan="2" class="room-header">Rooms</th>
				<th rowspan="2" class=""></th>
			</tr>
			<tr class="date-row">

				@for (var i = 1; i <= (Model.Days)/2; i++)
				{
					<td>@i</td>
				}
				
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="room-name">Single Room </td>
				<td><i class="fa-solid fa-person"></i> 1</td>
				@for (var i = 1; i <= (Model.Days) / 2; i++)
				{
						if (true)
						{
							<td style="background-color:lightgreen; color:white;">₺</td>
						}
						else
						{
							<td class="bg-danger">N</td>
						}
				}
			</tr>
				<tr>
				<td class="room-name">Single Plus Room</td>
				<td><i class="fa-solid fa-person"></i> 3</td>
				@for (var i = 1; i <= (Model.Days) / 2; i++)
				{
						if (true)
						{
							<td style="background-color:lightgreen; color:white;">₺</td>
						}
						else
						{
							<td class="bg-danger">N</td>
						}
				}
			</tr>
			<tr>
				<td class="room-name">Couple Room </td>
				<td><i class="fa-solid fa-person"></i> 2</td>
				@for (var i = 1; i <= (Model.Days) / 2; i++)
				{
						if (true)
						{
							<td style="background-color:lightgreen; color:white;">₺</td>
						}
						else
						{
							<td class="bg-danger">N</td>
						}
				}
			</tr>
			<tr>
				<td class="room-name">Family Room</td>
				<td><i class="fa-solid fa-person"></i> 3</td>
				@for (var i = 1; i <= (Model.Days) / 2; i++)
				{

						if (true)
						{
							<td style="background-color:lightgreen; color:white;">₺</td>
						}
						else
						{
							<td class="bg-danger">N</td>
						}

				}
			</tr>
			<tr>
				<td class="room-name">King Suit</td>
				<td><i class="fa-solid fa-person"></i> 2</td>
				@for (var i = 1; i <= (Model.Days) / 2; i++)
				{

						if (true)
						{
							<td style="background-color:lightgreen; color:white;">₺</td>
						}
						else
						{
							<td class="bg-danger">N</td>
						}
				}
			</tr>
			
		</tbody>
	</table>
	<table class="calendar-table" id="secondTable">
		<thead>
			<tr>
				<th rowspan="2" class="room-header">Rooms</th>
				<th rowspan="2" class=""></th>
			</tr>
			<tr class="date-row">

				@for (var i = ((Model.Days) / 2)+1; i <=Model.Days ; i++)
				{
					<td>@i</td>
				}

			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="room-name">Single Room </td>
				<td><i class="fa-solid fa-person"></i> 1</td>
				@for (var i = ((Model.Days) / 2) + 1; i <= Model.Days; i++)
				{
					if (true)
					{
						<td style="background-color:lightgreen; color:white;">₺</td>
					}
					else
					{
						<td class="bg-danger">N</td>
					}
				}
			</tr>
			<tr>
				<td class="room-name">Single Plus Room</td>
				<td><i class="fa-solid fa-person"></i> 3</td>
				@for (var i = ((Model.Days) / 2) + 1; i <= Model.Days; i++)
				{
					if (true)
					{
						<td style="background-color:lightgreen; color:white;">₺</td>
					}
					else
					{
						<td class="bg-danger">N</td>
					}
				}
			</tr>
			<tr>
				<td class="room-name">Couple Room </td>
				<td><i class="fa-solid fa-person"></i> 2</td>
				@for (var i = ((Model.Days) / 2) + 1; i <= Model.Days; i++)
				{
					if (true)
					{
						<td style="background-color:lightgreen; color:white;">₺</td>
					}
					else
					{
						<td class="bg-danger">N</td>
					}
				}
			</tr>
			<tr>
				<td class="room-name">Family Room</td>
				<td><i class="fa-solid fa-person"></i> 3</td>
				@for (var i = ((Model.Days) / 2) + 1; i <= Model.Days; i++)
				{

					if (true)
					{
						<td style="background-color:lightgreen; color:white;">₺</td>
					}
					else
					{
						<td class="bg-danger">N</td>
					}

				}
			</tr>
			<tr>
				<td class="room-name">King Suit</td>
				<td><i class="fa-solid fa-person"></i> 2</td>
				@for (var i = ((Model.Days) / 2) + 1; i <= Model.Days; i++)
				{

					if (true)
					{
						<td style="background-color:lightgreen; color:white;">₺</td>
					}
					else
					{
						<td class="bg-danger">N</td>
					}
				}
			</tr>

		</tbody>
	</table>
	
	
	<div class="button-group">
		<button id="btnFirstHalf" onclick="showFirstHalf()" style="background-color:#1a4870;">
			<i class="fa-solid fa-arrow-left fa-lg" style="color: white;"></i>
		</button>
		
		<button id="btnSecondHalf" onclick="showSecondHalf()" style="background-color:#1a4870;" >
			<i class="fa-solid fa-arrow-right fa-lg" style="color: white;"></i>
		</button>
	</div>
	<div class="button-group2">
		<form asp-action="Index" asp-controller="Reservation" method="get">
			<button style="background-color:#1a4870;" asp-route-id="-1" type="submit">
				<i class="fa-solid fa-arrow-left fa-lg" style="color: white;">Previous Month</i>
			</button>
			<button style="background-color:#1a4870;" asp-route-id="1" type="submit">
				<i class="fa-solid fa-arrow-right fa-lg" style="color: white;">Next Month</i>
			</button>
		</form>
	</div>
</div>


<div id="OrderCard" class="container mt-4">
	<div class="card mb-12 rounded-3">
		<div class="row g-0">
			<div class="col-md-4">
				<img src="~/images/room1.jpg" class="img-fluid rounded-start">
			</div>
			<div class="col-md-6">
				<div class="card-body">

					<h5 class="card-title">Room Name</h5>
					<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
					<div class="row" style="margin-top:50px;">
						<div class="col-4">
							<div class="rezinfoItem" style="max-width:100%;">
								<div class="rezLabel">
									<i class="fa-solid fa-bed"></i>
								</div>
								<select class="form-select">
									<option value="0" disabled selected>Room Count</option>
									<option value="1">1</option>
									<option value="2">2</option>
									<option value="3">3</option>
									<option value="4">4</option>
									<option value="5">5</option>
									<option value="6">6</option>
									<option value="7">7</option>
									<option value="8">8</option>
									<option value="9">9</option>
									<option value="10">10</option>
								</select>
							</div>
						</div>
						<div class="col-4 align-items-center d-flex">
							<div class="card-text " style="font-size:1.4rem; font-weight:bold;">1000₺</div>
						</div>
					</div>

					<!-- Buton kısmı -->
					<div class="d-flex mt-3">
						<button class="btn btn-success px-4 py-2" style="font-size: 1.2rem; border-radius: 10px;">Buy</button>
					</div>

				</div>
			</div>
		</div>
	</div>
	<div class="col-md-2">
				<div class="card-body"></div>
			</div>
</div>


<!-- jQuery Kütüphanesini Dahil Et -->
<script>

	var count = 0;
	$(document).ready(function () {
		// Sayfa yüklendiğinde ilgili elementleri gizle
		$("#firstTable").hide();
		$("#secondTable").hide();
		$("#OrderCard").hide();
		});
		$("#Head").click(function () {
			$("#firstTable").toggle();
		});

	$("#SearchButton").on("click", function() {
		$("#OrderCard").fadeIn("slow");
	});


	function showFirstHalf() {
		$("#firstTable").show();  // İlk tabloyu göster
		$("#secondTable").hide();  // İkinci tabloyu gizle
	}

	function showSecondHalf() {
		$("#firstTable").hide();  // İlk tabloyu göster
		$("#secondTable").show(); // İkinci tabloyu gizle
	}


	$("#btnFirstHalf").click(function () {
		count=+1;
		if (count == 3) {
			$("#btnFirstHalf").attr("disabled", true);
		}
	})
	$("#btnSecondHalf").click(function () {
		count = -1;
		if (count == 1) {
			$("#btnSecondHalf").attr("disabled", true);
		}
	})
</script>