@{
    ViewData["Title"] = "About Us";
}

<link rel="stylesheet" href="~/css/about.css" />

<div class="content">
    <div class="container">
        <h2 class="page-title">ABOUT US</h2>
        <div class="about-content">
            <p style="-webkit-text-stroke-width: 0.3px;-webkit-text-stroke-color: black;">
                BlueWave Hotel was established in 1995 by three visionary entrepreneurs:
                <span class="highlight">Ömer Faruk Tamgaç</span>,
                <span class="highlight">Sefa Dolu</span> and
                <span class="highlight">Serdar Akdemir</span>. Nestled in the heart of Antalya, 
                 our 5-star hotel has earned a reputation for excellence, providing world-class hospitality to guests from across the globe. Over the years, BlueWave Hotel has become a symbol of luxury, comfort, and elegance, drawing visitors who seek an unforgettable experience in one of Turkey's most beautiful regions.
            </p>
            <p style="-webkit-text-stroke-width: 0.3px;-webkit-text-stroke-color: black;">
                From our exquisite beachfront views to our state-of-the-art amenities, BlueWave Hotel is committed to exceeding the expectations of even the most discerning travelers. Whether you're here for business, leisure, or a romantic getaway, we offer a personalized touch and unparalleled service that have made us a globally recognized destination. Our dedication to quality, innovation, and guest satisfaction has positioned us as one of the most sought-after hotels in the world, where luxury meets tradition.
            </p>
            <p style="-webkit-text-stroke-width: 0.3px;-webkit-text-stroke-color: black;">
                We invite you to experience the BlueWave difference, where every stay is designed to be exceptional. Welcome to
                <span class="highlight">Antalya</span>, welcome to
                <span class="highlight">BlueWave Hotel</span>.
            </p>
        </div>
    </div>
</div>