@{
    ViewData["Title"] = "Policy";
}

<link rel="stylesheet" href="~/css/policy.css" />

<div class="content">
    <h2 class="page-title">Policy</h2>
    <div class="policy-content">
        <p style="-webkit-text-stroke-width: 0.3px;-webkit-text-stroke-color: black;">
            At BlueWave Hotel, we strive to create a comfortable, safe, and enjoyable environment for all our guests. To ensure a pleasant stay for everyone, we kindly ask you to review and adhere to the following policies:
        </p>

        <h3 style="-webkit-text-stroke-width: 0.3px;-webkit-text-stroke-color: black;">1. Check-in and Check-out</h3>
        <ul style="-webkit-text-stroke-width: 0.3px;-webkit-text-stroke-color: black;">
            <li>Check-in time: 3:00 PM</li>
            <li>Check-out time: 12:00 PM</li>
            <li>Early check-in and late check-out may be available upon request, subject to availability and additional charges.</li>
        </ul>

        <h3 style="-webkit-text-stroke-width: 0.3px;-webkit-text-stroke-color: black;">2. Payment</h3>
        <p style="-webkit-text-stroke-width: 0.3px;-webkit-text-stroke-color: black;">
            We accept all major credit cards, including Visa, MasterCard, and American Express. Full payment is required at check-in unless otherwise specified in your booking terms.
        </p>

        <h3 style="-webkit-text-stroke-width: 0.3px;-webkit-text-stroke-color: black;">3. Pets</h3>
        <p style="-webkit-text-stroke-width: 0.3px;-webkit-text-stroke-color: black;">Unfortunately, pets are not allowed in the hotel, with the exception of certified service animals. Please inform us in advance if you are traveling with a service animal. Children under the age of 12 stay free when sharing a room with their parents, using existing bedding.</p>

        <h3 style="-webkit-text-stroke-width: 0.3px;-webkit-text-stroke-color: black;">4. Other</h3>
        <p style="-webkit-text-stroke-width: 0.3px;-webkit-text-stroke-color: black;">
            Babysitting and baby cots are available upon request and subject to availability. Not responsible for lost or stolen items. Valuables should be stored in the in-room safe or deposited at the front desk for safekeeping.
        </p>

        <p style="-webkit-text-stroke-width: 0.3px;-webkit-text-stroke-color: black;">
            By confirming your reservation, you agree to abide by the above policies. We look forward to providing you with an exceptional stay at BlueWave Hotel. If you have any questions or special requests, please feel free to contact our team.
        </p>

        <p class="thank-you" style="-webkit-text-stroke-width: 0.3px;-webkit-text-stroke-color: black;">Thank you for choosing <span class="highlight">BlueWave Hotel</span>!</p>
    </div>
</div>