<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BlueWaveHotel</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BlueWaveHotel.styles.css" asp-append-version="true" />

    <style>


        /* Arka plan rengi */
        .custom-bg {
            background-color: #FFF9D4; /* Soluk sarı arka plan */
        }

        /* Logo stil ayarları */
        .navbar-brand {
            font-family: 'Brush Script MT', cursive;
            font-size: 2.5rem;
            color: #002D62; /* Mavi yazı rengi */
            text-align: center;
        }

        .center-logo {
            width: 280px; /* Logonun genişliği büyütüldü */
            height: auto;
            margin-right: 30px;
        }

        /* Sol taraftaki Campaign, Reservation ve Rooms için stil */
        .custom-left-link {
            font-family: 'Georgia', serif;
            color: #e03e24 !important;
            font-size: 1.2rem !important;
            margin-right: 20px !important;
        }


            .custom-left-link:hover {
                color: #FF4500; /* Hover ile turuncu geçiş */
                text-decoration: underline;
            }

        /* Sağdaki Login ve Register için stil */
        .custom-right-link {
            font-family: 'Georgia', serif;
            color: #1a4870 !important;
            font-size: 1.2rem !important;
            margin-left: 20px !important;
        }

            .custom-right-link:hover {
                color: #FF4500; /* Hover ile turuncu geçiş */
                text-decoration: underline;
            }



    </style>

</head>
<body>
    
    
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light custom-bg border-bottom box-shadow mb-3">
            <div class="container-fluid d-flex justify-content-between align-items-center">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link custom-left-link" asp-area="" asp-controller="Home" asp-action="Index">Campaign</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link custom-left-link" asp-area="" asp-controller="Home" asp-action="Privacy">Reservation</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link custom-left-link" asp-area="" asp-controller="Home" asp-action="Rooms">Rooms</a>
                    </li>
                </ul>

                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                            <img src="/images/logo.png" alt="Logo" class="center-logo">
                        </a>
                    </li>
                </ul>

               

                <!-- Sağdaki login ve register -->
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link custom-right-link" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link custom-right-link" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>





    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>



    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - BlueWaveHotel - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>




    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
