body {
    margin: 0;
    padding: 0;
}

.c-item {
    height: 480px;
}

.c-img {
    height: 100%;
    object-fit: cover;
}

.title {
    color: red;
    font-family: 'Aladin', cursive;
    font-size: 36px;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 150px;
}

.red-text {
    color: #FF4500;
    font-family: 'Aladin', cursive;
}

.blue-text {
    color: #1a4870;
    font-family: 'Aladin', cursive;
}

.sandColor-text {
    color: #cb8011;
    font-family: 'Aladin', cursive;
}

.card {
    border-radius: 15px;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

    .card:hover {
        transform: scale(1.05);
    }

.card-title {
    font-size: 18px;
    font-weight: bold;
}

.icon {
    font-size: 36px;
    color: #f39c12;
}

.slogans {
    font-family: "Julius Sans One", sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 40px;
    color: #FFD35A;
    text-shadow: 0 0 7px black;
}


