﻿body {
   
}

.custom-bg {
    background-color: #FFF9D4; 
}

.navbar-brand {
    font-family: 'Brush Script MT', cursive;
    font-size: 1.8rem;
    color: #002D62; 
    text-align: center;
}

.center-logo {
    width: 220px;
    margin-top: -10px;
}

.custom-left-link {
    font-family: 'Aladin', cursive;
    color: #e03e24 !important;
    font-size: 1.8rem !important;
    margin-right: 20px !important;
}

    .custom-left-link:hover {
        color: #FF4500; 
        text-decoration: underline;
    }

.custom-right-link {
    font-family: 'Aladin', cursive;
    color: #1a4870 !important;
    font-size: 1.8rem !important;
    margin-left: 20px !important;
}

    .custom-right-link:hover {
        color: #FF4500; 
        text-decoration: underline;
    }



.footer-link {
    color: #cb8011;
    font-family: 'Aladin', cursive;
}

main {
    margin-bottom: 350px;
}

@media (max-width: 768px) {
    main {
        margin-bottom: 100px;
    }
}

@media (max-width: 576px) {
    main {
        margin-bottom: 50px;
    }
}

.no-bullets {
    list-style: none;
    padding-left: 0;
}

.no-underline {
    text-decoration: none;
}

    .no-underline:hover {
        text-decoration: underline; 
    }

